<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Server=.\SQLEXPRESS;Database=AgendaTest;Trusted_Connection=True"/>
		<add name="connectionSetupTest" connectionString="Server=.\SQLEXPRESS;Database=Agenda;Trusted_Connection=True;" providerName="AgendaTest"/>
	</connectionStrings>
</configuration>